{% extends "layout.html" %}

{% block content %}

<main></main>


<div class="container blog">
  <div class="columns">
    <div class="column is-centered-tablet-portrait">



      <h2 class="subtitle is-3" style="margin-bottom: 5px"><a href="/blog/hello-world/">Launching Flanksource</a>
        <div class="addthis_inline_share_toolbox" style="float: right; clear: both;"
          data-url="https://www.flanksource.com/blog/hello-world/" data-title="Launching Flanksource"
          data-description="Launching Flanksource">
          <div id="atstbx"
            class="at-resp-share-element at-style-responsive addthis-smartlayers addthis-animated at4-show"
            aria-labelledby="at-cf1722f9-fbea-411f-90bd-4396448df33f" role="region"><span
              id="at-cf1722f9-fbea-411f-90bd-4396448df33f" class="at4-visually-hidden">AddThis Sharing Buttons</span>
            <div class="at-share-btn-elements"><a role="button" tabindex="0"
                class="at-icon-wrapper at-share-btn at-svc-linkedin"
                style="background-color: rgb(0, 119, 181); border-radius: 0px;"><span class="at4-visually-hidden">Share
                  to LinkedIn</span><span class="at-icon-wrapper"
                  style="line-height: 20px; height: 20px; width: 20px;"><svg xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" version="1.1" role="img"
                    aria-labelledby="at-svg-linkedin-1" style="fill: rgb(255, 255, 255); width: 20px; height: 20px;"
                    class="at-icon at-icon-linkedin">
                    <title id="at-svg-linkedin-1">LinkedIn</title>
                    <g>
                      <path
                        d="M26 25.963h-4.185v-6.55c0-1.56-.027-3.57-2.175-3.57-2.18 0-2.51 1.7-2.51 3.46v6.66h-4.182V12.495h4.012v1.84h.058c.558-1.058 1.924-2.174 3.96-2.174 4.24 0 5.022 2.79 5.022 6.417v7.386zM8.23 10.655a2.426 2.426 0 0 1 0-4.855 2.427 2.427 0 0 1 0 4.855zm-2.098 1.84h4.19v13.468h-4.19V12.495z"
                        fill-rule="evenodd"></path>
                    </g>
                  </svg></span></a><a role="button" tabindex="0" class="at-icon-wrapper at-share-btn at-svc-twitter"
                style="background-color: rgb(29, 161, 242); border-radius: 0px;"><span class="at4-visually-hidden">Share
                  to Twitter</span><span class="at-icon-wrapper"
                  style="line-height: 20px; height: 20px; width: 20px;"><svg xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" version="1.1" role="img"
                    aria-labelledby="at-svg-twitter-2" style="fill: rgb(255, 255, 255); width: 20px; height: 20px;"
                    class="at-icon at-icon-twitter">
                    <title id="at-svg-twitter-2">Twitter</title>
                    <g>
                      <path
                        d="M27.996 10.116c-.81.36-1.68.602-2.592.71a4.526 4.526 0 0 0 1.984-2.496 9.037 9.037 0 0 1-2.866 1.095 4.513 4.513 0 0 0-7.69 4.116 12.81 12.81 0 0 1-9.3-4.715 4.49 4.49 0 0 0-.612 2.27 4.51 4.51 0 0 0 2.008 3.755 4.495 4.495 0 0 1-2.044-.564v.057a4.515 4.515 0 0 0 3.62 4.425 4.52 4.52 0 0 1-2.04.077 4.517 4.517 0 0 0 4.217 3.134 9.055 9.055 0 0 1-5.604 1.93A9.18 9.18 0 0 1 6 23.85a12.773 12.773 0 0 0 6.918 2.027c8.3 0 12.84-6.876 12.84-12.84 0-.195-.005-.39-.014-.583a9.172 9.172 0 0 0 2.252-2.336"
                        fill-rule="evenodd"></path>
                    </g>
                  </svg></span></a><a role="button" tabindex="0" class="at-icon-wrapper at-share-btn at-svc-email"
                style="background-color: rgb(132, 132, 132); border-radius: 0px;"><span
                  class="at4-visually-hidden">Share to Email</span><span class="at-icon-wrapper"
                  style="line-height: 20px; height: 20px; width: 20px;"><svg xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" version="1.1" role="img"
                    aria-labelledby="at-svg-email-3" style="fill: rgb(255, 255, 255); width: 20px; height: 20px;"
                    class="at-icon at-icon-email">
                    <title id="at-svg-email-3">Email</title>
                    <g>
                      <g fill-rule="evenodd"></g>
                      <path
                        d="M27 22.757c0 1.24-.988 2.243-2.19 2.243H7.19C5.98 25 5 23.994 5 22.757V13.67c0-.556.39-.773.855-.496l8.78 5.238c.782.467 1.95.467 2.73 0l8.78-5.238c.472-.28.855-.063.855.495v9.087z">
                      </path>
                      <path
                        d="M27 9.243C27 8.006 26.02 7 24.81 7H7.19C5.988 7 5 8.004 5 9.243v.465c0 .554.385 1.232.857 1.514l9.61 5.733c.267.16.8.16 1.067 0l9.61-5.733c.473-.283.856-.96.856-1.514v-.465z">
                      </path>
                    </g>
                  </svg></span></a></div>
          </div>
        </div>
      </h2>

      <span class="has-text-grey">
        Published <time class="post-date" datetime="2020-02-10T09:39:23+02:00">Feb 10, 2020</time> by Moshe Immerman,
        Reading time: 1min </span><br>

      <h5 class="subtitle is-5 is-muted"></h5>

    </div>
  </div>


  <p>Flanksource launched in January 2020 as a lean-first company focusing exclusively on Kubernetes.</p>

  <h3 id="behind-the-name">Behind the Name</h3>

  <p><a href="https://en.wikipedia.org/wiki/Flank_speed">flank speed</a> is a nautical term referring to a ship’s true
    maximum speed i.e. Flanksource is the engine that enables companies to reach their true potential.</p>

  <h3 id="vision">Vision</h3>

  <p>Flanksource’s vision is to see the large number of companies adopting Kubernetes realize its true value through
    high penetration into their legacy on-premise application stacks - not just the greenfields cloud-native
    applications where Kubernetes finds most of its success today.</p>

  <h3 id="chief-kubernetes-officer-cko">Chief Kubernetes Officer (CKO)</h3>

  <p>One of the many tasks required when starting a company is choosing what title to put on your business card. I chose
    <em>CKO</em> - in part as a play on words on <a href="https://www.cncf.io/certification/cka/">CKA</a> and <a
      href="https://kubernetes.io/docs/concepts/overview/what-is-kubernetes/">Helmsman</a> - but more importantly as a
    signal of the deep-seated aspiration we at Flanksource have for CKOs to become as common as Chief Digital Officers
    are today.</p>

  <p>You might wonder how you could possibly compare a lowly container orchestrator to a full-blown digital
    transformation. If Kubernetes was just a container orchestrator, you would be right - but Kubernetes is so much more
    - to see why read <a href="../kubernetes-is-not-a-container-orchestrator">Kubernetes is NOT a Container
      Orchestrator</a>.</p>

  <hr>


  <div id="disqus_thread"><iframe id="dsq-app8886" name="dsq-app8886" allowtransparency="true" frameborder="0"
      scrolling="no" tabindex="0" title="Disqus" width="100%"
      src="https://disqus.com/embed/comments/?base=default&amp;f=flanksource&amp;t_u=https%3A%2F%2Fwww.flanksource.com%2Fblog%2Fhello-world%2F&amp;t_d=Launching%20Flanksource&amp;t_t=Launching%20Flanksource&amp;s_o=default#version=206d8ff2f80c3ca0938577332c03b31a"
      style="width: 1px !important; min-width: 100% !important; border: none !important; overflow: hidden !important; height: 307px !important;"
      horizontalscrolling="no" verticalscrolling="no"></iframe></div>

</div>



{% endblock %}
