{% extends "layout.html" %}

{% block content %}
<header class="header text-white" style="background-image: url(/assets/img/lighthouse_milkyway.jpg);" data-overlay="6">
  <div class="container text-center">

    <div class="row">
      <div class="col-md-8 mx-auto">

        <h1>Launching Flanksource</h1>

      </div>
    </div>

  </div>
</header>

<!-- Main Content -->
<main class="main-content">

  <section class="section">
    <div class="container">


      <div class="row">
        <div class="col-md-8 mx-auto">


          <p>Flanksource launched in January 2020 as a lean-first company focusing exclusively on Kubernetes.</p>

          <h3 id="behind-the-name">Behind the Name</h3>

          <p><a href="https://en.wikipedia.org/wiki/Flank_speed">flank speed</a> is a nautical term referring to a
            ship’s true
            maximum speed i.e. Flanksource is the engine that enables companies to reach their true potential.</p>

          <h3 id="vision">Vision</h3>

          <p>Flanksource’s vision is to see the large number of companies adopting Kubernetes realize its true value
            through
            high penetration into their legacy on-premise application stacks - not just the greenfields cloud-native
            applications where Kubernetes finds most of its success today.</p>

          <h3 id="chief-kubernetes-officer-cko">Chief Kubernetes Officer (CKO)</h3>

          <p>One of the many tasks required when starting a company is choosing what title to put on your business card.
            I chose
            <em>CKO</em> - in part as a play on words on <a href="https://www.cncf.io/certification/cka/">CKA</a> and <a
              href="https://kubernetes.io/docs/concepts/overview/what-is-kubernetes/">Helmsman</a> - but more
            importantly as a
            signal of the deep-seated aspiration we at Flanksource have for CKOs to become as common as Chief Digital
            Officers
            are today.</p>

          <p>You might wonder how you could possibly compare a lowly container orchestrator to a full-blown digital
            transformation. If Kubernetes was just a container orchestrator, you would be right - but Kubernetes is so
            much more
            - to see why read <a href="../kubernetes-is-not-a-container-orchestrator">Kubernetes is NOT a Container
              Orchestrator</a>.</p>

        </div>
      </div>
    </div>
  </section>


  {% set contactColor = "gray" %}
  {% include 'contact.html' %}
</main>




{% endblock %}
