{% extends "layout.html" %}

{% block content %}


<header class="header text-center text-white"
  style="background-image: linear-gradient(-45deg, #667eea 0%, #764ba2 100%);">
  <div class="container text-center">


    <div class="row">
      <div class="col-lg-8 mx-auto">

        <h1>Kubernetes SRE</h1>
        <p class="lead-2"><i class="fa fa-map-marker mr-2"></i> Fully Remote</p>


      </div>
    </div>

  </div>
</header><!-- /.header -->


<!-- Main Content -->
<main class="main-content">

  <section class="section">
    <div class="container">


      <div class="row">
        <div class="col-md-10 mx-auto">

          <p>
            flanksource is a niche consultancy focusing exclusively on Kubernetes and the Cloud Native ecosystem. We
            help
            companies navigate the CNCF landscape by evaluating and integrating technology into an infrastructure
            continuous delivery pipeline, tailored to each customer's particular environment and stack.

            We are looking for thinkers with a bias for action, who love the Kubernetes community as much as we do.</p>

          <h4>Responsibilities</h4>
          <ul>
            <li> Develop tooling, tests and automation for an enterprise-grade Kubernetes platform using immutable
              infrastructure and GitOps principles.</li>
            <li> Review code and configuration changes of both colleagues and customers.</li>
            <li> Evaluate and integrate cloud-native technologies, contributing features and bug-fixes back upstream
              when
              necessary.</li>
            <li>
              Be part of an on-call rotation (paid) and work to reduce both the number and MTTR of incidents.</li>
          </ul>



          <h4>Benefits</h4>
          <ul>
            <li>
              Remote first culture - work from anywhere in the world.</li>
            <li>
              Flexible working hours - Choose both when and how much you work, we accommodate full-time
              employees/contractors, part-timers and weekend warriors.</li>
            <li>
              Paid contribution to open-source projects in and around the kubernetes eco-system.</li>
            <li>
              Annual development budget to spend on conferences, books, courses, etc..</li>
          </ul>

          <h4> Job requirements</h4>
          <ul>
            <li> Deep understanding of kubernetes and containers. (i.e. be a Certified Kubernetes Administrator (CKA) or
              working towards it)</li>
            <li>
              Experience writing Go, or a desire to learn.</li>
            <li>
              Experience designing, operating or building distributed systems.</li>
            <li>
              Strong Linux and networking fundamentals.</li>
            <li>
              Some knowledge of DevOps principles and tools.</li>
            <li>
              Some knowledge of public or private cloud infrastructure (AWS, Azure, GCP, vSphere).</li>
            <li>
              Be able to empathise with enterprise application developers using Spring Boot/Weblogic.</li>
          </ul>

          <h4>Bonus Points for</h4>
          <ul>
            <li> Contributions and/or a passion for open source.</li>
            <li>
              Kubernetes operator and controller development.</li>
          </ul>



        </div>
      </div>

    </div>


  </section>


  <section class="section bg-gray" id="section-apply">
    <div class="container">
      <header class="section-header">
        <small>Submit your resume</small>
        <h2>Apply For This Job</h2>
        <hr>
        <p class="lead">Prepare a PDF for your resume and fill the following form. We will contact you as soon as
          possible.</p>
      </header>


      <div class="row">
        <div class="col-md-8 mx-auto">

          <form id=resume netlify>


            <div class="form-group ">
              <label>Name</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-user"></i></span>
                </div>
                <input class="form-control form-control-sm" type="text" name="name">
              </div>
            </div>


            <div class="form-group ">
              <label>Email</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                </div>
                <input class="form-control form-control-sm" type="text" name="email">
              </div>
            </div>

            <div class="form-group">
              <label>Phone</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-phone"></i></span>
                </div>
                <input class="form-control" type="text" name="phone">
              </div>
            </div>

            <div class="form-group">
              <label>Github Profile</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-github"></i></span>
                </div>
                <input class="form-control" type="text" name="Github">
              </div>
            </div>

            <div class="form-group">
              <label>Cover Letter</label>
              <div class="input-group">

                <textarea class="form-control" name="extra_information" rows="3"></textarea>
              </div>
            </div>

            <div class="form-group">
              <label>Resume</label>
              <div class="input-group">
                <input class="form-control " type="file" id="resume">
              </div>
            </div>


            <div class="row">
              <div class="col-12 col-md-6"></div>
              <div class="col-12 col-md-6">
                <button class="btn btn-lg btn-block btn-primary" type="submit">Submit your resume</button>
              </div>
            </div>


          </form>

        </div>
      </div>


    </div>
  </section>


</main><!-- /.main-content -->

{% endblock %}
