{% extends "layout.html" %}

{% block content %}


<!-- Header -->
<header class="header text-center text-white" style="background-image: url(../assets/img/dna.jpg)" data-overlay="7">
  <canvas class="constellation" data-radius="0"></canvas>
  <div class="container text-center">

    <div class="row">
      <div class="col-md-8 mx-auto">

        <h1 class="display-41">About Us</h1>

      </div>
    </div>

  </div>
</header><!-- /.header -->



<!-- Main Content -->

<main class="main-content">
  <section class="section">
    <div class="container">
      <div class="row gap-y">

        <div class="col-md-3 mr-md-auto">
          <p class="lead-4 text-right">Passionate about all things Kubernetes</p>
        </div>

        <div class="col-md-4">
          <h6>Our Mission</h6>
          <p>To help teams achieve elite<sup>*</sup> performance levels using Kubernetes based platforms.
            <br> <br>

            <small><sup>*</sup> See the <a href="https://cloud.google.com/devops/state-of-devops">State of DevOps
                Report</a></small>

          </p>
        </div>

        <div class="col-md-4">
          <h6>Our Vision</h6>
          <p>To see Kubernetes commoditised in the management of all infrastructure: containers, serverless, VM's,
            bare-metal and everything in between </p>
        </div>

      </div>
    </div>
  </section>

  <section class="section bg-gray pt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1>Our Values</h1>
          <p class="lead-2 opacity-90 mt-6">Flanksource's values are not an afterthought, they predate the company
            itself.</p>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="media">
            <div class="mr-5 w-50px"><img src="/assets/img/heart.png"></div>

            <div class="media-body">
              <h6>Shared Value</h6>
              <p>
                <i class="fa fa-caret-right text-lightest mr-2"></i>No Licenses or Services. We sell value, not
                time/IP<br>
                <i class="fa fa-caret-right text-lightest mr-2"></i>No Commissions<br>
                <i class="fa fa-caret-right text-lightest mr-2"></i>Customer success teams are rewarded based on
                the success of engagements<br>

              </p>
            </div>
          </div>
        </div>




        <div class="col-md-6">
          <div class="media">
            <div class="mr-5 w-50px"><i class="icon-recycle lead-6"></i></div>

            <div class="media-body">
              <h6>Lean First</h6>
              <p><i class="fa fa-caret-right text-lightest mr-2"></i>Failure is inevitable, declare it quickly and
                learn fast<br>
                <i class="fa fa-caret-right text-lightest mr-2"></i>We focus exclusively on platforms and voluntarily
                exit engagements where we don’t add value<br>
                <i class="fa fa-caret-right text-lightest mr-2"></i>Make decisions empirically and quickly<br>
                <i class="fa fa-caret-right text-lightest mr-2"></i>Simple > Complex (KISS)<br>
                <i class="fa fa-caret-right text-lightest mr-2"></i>People > Principles > Practises > Tools<br>
              </p>
            </div>
          </div>
        </div>


        <div class="col-md-6">
          <div class="media">
            <div class="mr-5 w-50px"><img src="/assets/img/gyshido.png"></div>

            <div class="media-body">
              <h6>GyShiDo</h6>
              <p>

                <i class="fa fa-caret-right text-lightest mr-2"></i>Relentless Focus<br>
                <i class="fa fa-caret-right text-lightest mr-2"></i>Single Task<br>
                <i class="fa fa-caret-right text-lightest mr-2"></i>Boring Consistency<br>
                <i class="fa fa-caret-right text-lightest mr-2"></i>No Agenda-Less Meetings<br>
                <i class="fa fa-caret-right text-lightest mr-2"></i>Follow up<br>
              </p>
            </div>
          </div>
        </div>


        <div class="col-md-6 feature-3">
          <div class="media">
            <div class="mr-5 w-50px"><img src="/assets/img/shield.png"></div>

            <div class="media-body">
              <h6>Safety as a Prerequisite</h6>
              <p><i class="fa fa-caret-right text-lightest mr-2"></i> Safety needs to be built-in, not an
                afterthought.
                This applies to:<br>
                <i class="fa fa-caret-right text-lightest ml-5 mr-2"></i>Infrastructure/Platforms<br>
                <i class="fa fa-caret-right text-lightest ml-5 mr-2"></i>Processes and Practices<br>
                <i class="fa fa-caret-right text-lightest ml-5 mr-2"></i>People (Psychological safety)<br>
                <i class="fa fa-caret-right text-lightest mr-2"></i>Safety requires continuous testing to ensure things
                work as expected (Trust, but verify)<br>
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>




  <section class="section ">
    <div class="container">

      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-2 text-center mx-auto">
          <a href="#">
            <img class="team-2" style="    border-radius: 25rem;            margin-bottom: 2rem;"
              src="../assets/img/moshe3.jpg" alt="...">
          </a>
          <hr class="d-md-none my-7">
        </div>


        <div class="col-md-6 align-self-center text-center text-md-left">

          <h2 class="fw-400">Moshe Immerman</h2>
          <h3 class="fw-200">Chief Kubernetes Officer</h3>
          <br>
          <p>A Kubernetes Fanatic and active contributor of the Kubernetes Community, focusing on the Cluster Lifecycle
            special interest group (SIG) responsible for kubeadm, image-builder and Cluster API.
          </p>
          <p>Previously Moshe was a DevOps architect at the Discovery Group and the CTO of an Enterprise Software
            company.</p>
          <br>
          <div class="social social-inline social-gray">
            <a class="social-github" href="https://www.github.com/moshloop"><i class="fa fa-github"></i></a>
            <a class="social-linkedin" href="https://www.linkedin.com/in/moshe-immerman/"><i
                class="fa fa-linkedin"></i></a>
          </div>
          <br>
        </div>
      </div>

    </div>
  </section>

  <section class="section  bg-gray">
    <div class="container">
      <header class="section-header">
        <h2>Advisors</h2>
      </header>


      <div class="row gap-y">
        <div class="col-md-6 col-lg-6 team-2">
          <a href="https://www.linkedin.com/in/joseflangerman/">
            <img src="../assets/img/josef.jpg" alt="...">
          </a>
          <h6>Josef Langerman</h6>
          <small>Head: Strategy, Architecture and <br>Organisational Change @ <br>Standard Bank Group</small>
          <div class="social social-gray">
            <a class="social-linkedin" href="https://www.linkedin.com/in/joseflangerman/"><i
                class="fa fa-linkedin"></i></a>
            <a class="social-web" href="https://langerman.co.za/"><i class="fa fa-globe"></i></a>
            <a class="social-twitter" href="https://twitter.com/joseflangerman"><i class="fa fa-twitter"></i></a>
          </div>
        </div>


        <div class="col-md-6 col-lg-6 team-2">
          <a href="#">
            <img src="../assets/img/pierre.jpg" alt="...">
          </a>
          <h6>Pierre Meyer</h6>
          <small>Head: Platform as a Service @ <br> Discovery Group, Former Dev Manager @<br> Amazon Web
            Services</small>
          <div class="social social-gray">
            <a class="social-linkedin" href="https://www.linkedin.com/in/pierremeyer76/"><i
                class="fa fa-linkedin"></i></a>
          </div>
        </div>




      </div>

    </div>
  </section>




  <section class="section text-center py-12" style="background-image: url(../assets/img/lighthouse_milkyway.jpg)"
    data-overlay="7">
    <div class="container">
      <h2 class="display-4 text-white mb-7"><strong>Join Our Team.</strong></h2>
      <a class="btn btn-lg btn-round btn-info" href="careers.html">View Openings</a>
    </div>
  </section>

</main>

{% endblock %}
