{% extends "layout.html" %}

{% block content %}


<!-- Header -->
<header class="header text-center text-white"
  style="background-image: linear-gradient(-45deg, #667eea 0%, #764ba2 100%);">
  <div class="container">

    <div class="row">
      <div class="col-md-8 mx-auto">

        <h1>Get In Touch</h1>

      </div>
    </div>

  </div>
</header><!-- /.header -->


<!-- Main Content -->
<main class="main-content">


  <!--
    |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
    | Contact form
    |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
    !-->
  <section class="section">
    <div class="container">

      <div class="row">
        <div class="col-lg-6 mx-auto">
          <p class="lead-2">Via email: <i class="fa fa-envelope-o"></i> <a
              href="mailto:hi@flanksource.com">hi@flanksource.com</a>, or <i class="fa fa-slack"></i> <a
              href="https://join.slack.com/t/flanksource/shared_invite/zt-dvh61tg5-w8XOfrGWtCetGXYk48RKnw">flanksource.slack.com</a>
          </p>
        </div>
      </div>
      <div class="row">


        <form class="col-lg-6 mx-auto p-6 rounded" netlify>

          <div class="form-row">
            <div class="form-group col-md-6">
              <input class="form-control form-control-lg" type="text" name="name" placeholder="Your Name">
            </div>

            <div class="form-group col-md-6">
              <input class="form-control form-control-lg" type="email" name="email" placeholder="Your Email Address">
            </div>
          </div>


          <div class="form-group">
            <textarea class="form-control form-control-lg" rows="4" placeholder="Your Message"
              name="message"></textarea>
          </div>

          <div class="text-center">
            <button class="btn btn-lg btn-primary" type="submit">Submit Inquiry</button>
          </div>
        </form>
      </div>

    </div>
  </section>

</main>

{% endblock %}
