{% extends "layout.html" %}

{% block content %}

<header class="header text-center text-white" style="background-image: url(../assets/img/lighthouse_milkyway.jpg)"
  data-overlay="7">
  <canvas class="constellation" data-radius="0"></canvas>
  <div class="container text-center">

    <div class="row">
      <div class="col-md-8 mx-auto">

        <h1 class="display-41">Services</h1>
        <!-- <p class="lead-2 opacity-901 mt-6">Creating a beautiful website with high conversion is our passion</p> -->

      </div>
    </div>

  </div>
</header>

<main class="main-content">



  <section class="section overflow-hidden" id="resilience_reviews">
    <div class="container">
      <div class="row gap-y align-items-center">

        <div class="col-lg-6 mx-auto">
          <h2>Resilience Reviews </h2>
          <p class="lead mb-7">
            Using a systems theory approach that addresses resilience from multiple angles.
            Fault-domain analysis highlights single points of failure. Research from the resilience engineering
            community guides us in probing the boundaries of your system to identify areas ripe for learning.
          </p>

          <div class="row">
            <div class="col-md-12">
              <h6>What you can expect:</h6>
            </div>
          </div>
          <div class="row">

            <div class="col-md-12">
              <i class="fa fa-caret-right text-lightest mr-2"></i> Fault domain tree highlighting single points of
              failure<br>
              <i class="fa fa-caret-right text-lightest mr-2"></i> Fully customized operational readiness checklist<br>
            </div>

          </div>

          <p class="mt-6">
            <a class="text-uppercase fw-600 ls-2 small-2" href="#">Learn More <i
                class="ti-arrow-right fs-10 ml-1"></i></a>
          </p>
        </div>

        <div class="col-lg-5 align-self-center order-md-first">
          <img src="../assets/img/resilience-review.svg" alt="...">
        </div>

      </div>
    </div>
  </section>

  <section class="section overflow-hidden  bg-gray">
    <div class="container">
      <div class="row gap-y align-items-center">
        <div class="col-lg-6 mx-auto">
          <h2>Strategy & Value Optimisation</h2>
          <p class="lead mb-7">Designer duties, not just some of legs, the attained secure large obscurity, with I
            model most we his odd trade, made the an and another narrow she of other big in.</p>
          <div class="row">
            <div class="col-md-12">
              <h6>What you can expect:</h6>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <p><i class="fa fa-caret-right text-lightest mr-2"></i> Vendor Agnostic</p>
              <p><i class="fa fa-caret-right text-lightest mr-2"></i> On-Prem, Cloud & Hybrid</p>
              <p><i class="fa fa-caret-right text-lightest mr-2"></i> Kubernetes</p>
            </div>

            <div class="col-md-6">
              <p><i class="fa fa-caret-right text-lightest mr-2"></i> OpenShift</p>
              <p><i class="fa fa-caret-right text-lightest mr-2"></i> Rancher</p>
            </div>
          </div>

          <p class="mt-6">
            <a class="text-uppercase fw-600 ls-2 small-2" href="#">Learn More <i
                class="ti-arrow-right fs-10 ml-1"></i></a>
          </p>
        </div>
        <div class="col-lg-6">
          <img src="../assets/img/cost-value.svg" alt="...">
        </div>
      </div>
    </div>
  </section>




  <section class="section overflow-hidden">
    <div class="container">
      <div class="row gap-y align-items-center">

        <div class="col-lg-6 mx-auto">
          <h2>Managed Platform Operations</h2>
          <p class="lead mb-7">Our team is staffed with only senior Site Reliability Engineers, we take a proactive,
            development focused approach to operations, building tools such as canaries and testing
            frameworks.</p>

          <div class="row">
            <div class="col-md-12">
              <h6>What you can expect:</h6>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p><i class="fa fa-caret-right text-lightest mr-2"></i> <b>Flexibility</b> we will integrate into your
                environment, not the other way around<br>
                <i class="fa fa-caret-right text-lightest mr-2"></i> 24x7x365 SLA with a 30 minute response time,
                <b>and</b> a 2h mitigation target<br>
                <i class="fa fa-caret-right text-lightest mr-2"></i> Custom canaries designed for your environment<br>

                <i class="fa fa-caret-right text-lightest mr-2"></i> Support for any Kubernetes: OSS, Tanzu, Rancher,
                EKS, AKS or OpenShift
              </p>
            </div>


          </div>

          <p class="mt-6">
            <a class="text-uppercase fw-600 ls-2 small-2" href="#">Learn More <i
                class="ti-arrow-right fs-10 ml-1"></i></a>
          </p>
        </div>

        <div class="col-lg-5 align-self-center order-md-first">
          <img src="../assets/img/dashboard.png" alt="...">
        </div>

      </div>
    </div>
  </section>



  <section class="section overflow-hidden  bg-gray">
    <div class="container">
      <div class="row gap-y align-items-center">

        <div class="col-lg-6 mx-auto">
          <h2>Infrastructure CI/CD with GitOps</h2>
          <p class="lead mb-7">Designer duties, not just some of legs, the attained secure large obscurity, with I
            model most we his odd trade, made the an and another narrow she of other big in.</p>

          <div class="row">
            <div class="col-md-6">
              <p><i class="fa fa-caret-right text-lightest mr-2"></i> Immuable Infrastructure at the Cluster and Node
                Level></p>
              <p><i class="fa fa-caret-right text-lightest mr-2"></i> Typography</p>
              <p><i class="fa fa-caret-right text-lightest mr-2"></i> Responsive Design</p>
            </div>

            <div class="col-md-6">
              <p><i class="fa fa-caret-right text-lightest mr-2"></i> Browser Compatibility</p>
              <p><i class="fa fa-caret-right text-lightest mr-2"></i> Parallax Scrolling</p>
            </div>
          </div>

          <p class="mt-6">
            <a class="text-uppercase fw-600 ls-2 small-2" href="#">Learn More <i
                class="ti-arrow-right fs-10 ml-1"></i></a>
          </p>
        </div>

        <div class="col-lg-6">
          <img src="../assets/img/pipeline.jpg" alt="...">
        </div>

      </div>
    </div>
  </section>


  {% set contactColor = "white" %}
  {% include 'contact.html' %}
</main>


{% endblock %}
